topics:
  raw: telemetry.raw
  power: telemetry.power
  health: telemetry.health
  attitude: telemetry.attitude
  environment: telemetry.environment
  vsat: telemetry.vsat

queues:
  raw: telemetry_raw_queue
  power: telemetry_power_queue
  health: telemetry_health_queue
  attitude: telemetry_attitude_queue
  environment: telemetry_environment_queue
  vsat: telemetry_vsat_queue

llm_queues:
  raw: llm_raw_queue
  power: llm_power_queue
  health: llm_health_queue
  attitude: llm_attitude_queue
  environment: llm_environment_queue
  vsat: llm_vsat_queue

# ==========================
# MULTI-VSAT CONFIGURATION
# ==========================
vsats:
  vsat_1:
    ip: 81.199.32.65
    community: public
    oids:
      signal_strength: 1.3.6.1.4.1.1000.1.1
      tx_power:        1.3.6.1.4.1.7352.3.5.10.16.9.0
      rx_power:        1.3.6.1.4.1.7352.3.5.10.16.8.0

  vsat_2:
    ip: 81.199.153.169
    community: public
    oids:
      signal_strength: 1.3.6.1.4.1.2000.5.1
      tx_power:        1.3.6.1.4.1.7352.3.5.10.16.9.0
      rx_power:        1.3.6.1.4.1.7352.3.5.10.16.8.0

analyzer:
  batch_size: 10
  max_retries: 5
  retry_backoff: 2

