apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    database: telemetry
    user: ${INFLUXDB_USER}
    password: ${INFLUXDB_USER_PASS}
    url: http://influxdb:8086
    isDefault: true
    editable: true
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: false
    editable: true
